#playhead1{
  color: white;
  text-shadow: 1px 1px black;
}
#playhead2{
  color: orange;
  text-shadow: 1px 1px black;
}
#play1armies{
  color: white;
  text-shadow: 1px 1px black;
}
#play2armies{
  color: orange;
  text-shadow: 1px 1px black;
}
#divider{
  color: blue;
}

body {
    background: #1A2131;
}

#gameBoard {
/*display: block;
margin:0 auto;
width: 90%;
margin-bottom: 20px;
}*/
position: absolute;
}
#player1Turn{
  position: absolute;
  display: block;
  margin-left: 400px:
}

#dice {
  color: white;
  font-family: fantasy;
}
#butt{
  font-size: 20px;
}
#start_game{
  font-size: 20px;
}
.game_text {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px black;;
}

#indonesia_icon {

  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 658px;
  margin-left: 1263px;
}
#newGuinea_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 650px;
  margin-left: 1471px;
}
#westernAus_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 832px;
  margin-left: 1290px;
}
#easternAus_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 796px;
  margin-left: 1397px;
}
#siam_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 532px;
  margin-left: 1262px;
}
#india_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 518px;
  margin-left: 1137px;
}
#china_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 398px;
  margin-left: 1236px;
}
#middleEast_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 469px;
  margin-left: 958px;
}
#afghanistan_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 331px;
  margin-left: 1054px;
}
#ural_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 239px;
  margin-left: 1099px;
}
#siberia_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 176px;
  margin-left: 1187px;
}
#yakutsk_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 158px;
  margin-left: 1359px;
}
#irkutsk_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 254px;
  margin-left: 1301px;
}
#mongolia_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 331px;
  margin-left: 1335px;
}
#japan_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 348px;
  margin-left: 1445px;
}
#kamchatka_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 169px;
  margin-left: 1493px;
}
#ukraine_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 232px;
  margin-left: 949px;
}
#scandanavia_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 161px;
  margin-left: 801px;
}
#iceland_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 169px;
  margin-left: 711px;
}
#greatBritain_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 254px;
  margin-left: 711px;
}
#northernEurope_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 299px;
  margin-left: 799px;
}
#westernEurope_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 380px;
  margin-left: 720px;
}
#southernEurope_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 379px;
  margin-left: 821px;
}
#northAfrica_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 564px;
  margin-left: 724px;
}
#egypt_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 530px;
  margin-left: 832px;
}
#eastAfrica_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 612px;
  margin-left: 885px;
}
#congo_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 714px;
  margin-left: 828px;
}
#southAfrica_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 831px;
  margin-left: 833px;
}
#madagascar_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 796px;
  margin-left: 953px;
}
#argentina_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 799px;
  margin-left: 427px;
}
#peru_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 693px;
  margin-left: 407px;
}
#brazil_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 646px;
  margin-left: 504px;
}
#venezuela_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 557px;
  margin-left: 387px;
}
#centralAmerica_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 423px;
  margin-left: 327px;
}
#easternUnitedStates_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 331px;
  margin-left: 432px;
}
#westernUnitedStates_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 316px;
  margin-left: 307px;
}
#alberta_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 247px;
  margin-left: 295px;
}
#ontario_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 241px;
  margin-left: 405px;
}
#quebec_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 250px;
  margin-left: 537px;
}
#greenland_icon{
  padding-top: 35px;
  padding-right: 20px;
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 30px;
  margin-left: 640px;
}
#northwestTerritory_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 140px;
  margin-left: 266px;
}
#alaska_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 135px;
  margin-left: 150px;
}
