#playhead1{
  color: white;
  text-shadow: 1px 1px black;
}
#playhead2{
  color: orange;
  text-shadow: 1px 1px black;
}
#play1armies{
  color: white;
  text-shadow: 1px 1px black;
}
#play2armies{
  color: orange;
  text-shadow: 1px 1px black;
}
#divider{
  color: blue;
}

body {
    background: #1A2131;
}

#gameBoard {
/*display: block;
margin:0 auto;
width: 90%;
margin-bottom: 20px;
}*/
position: absolute;
}

#dice {
  color: white;
  font-family: fantasy;
}
.game_text {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px black;;
}

#indonesia_icon {

  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 658px;
  margin-left: 1255px;
}
#newGuinea_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 677px;
  margin-left: 1440px;
}
#westernAus_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 786px;
  margin-left: 1280px;
}
#easternAus_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 809px;
  margin-left: 1434px;
}
#siam_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 532px;
  margin-left: 1262px;
}
#india_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 529px;
  margin-left: 1117px;
}
#china_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 398px;
  margin-left: 1236px;
}
#middleEast_icon {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 469px;
  margin-left: 958px;
}
#afghanistan_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 331px;
  margin-left: 1054px;
}
#ural_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 239px;
  margin-left: 1099px;
}
#siberia_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 176px;
  margin-left: 1187px;
}
#yakutsk_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 150px;
  margin-left: 1339px;
}
#irkutsk_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 254px;
  margin-left: 1301px;
}
#mongolia_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 331px;
  margin-left: 1335px;
}
#japan_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 348px;
  margin-left: 1445px;
}
#kamchatka_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 169px;
  margin-left: 1493px;
}
#ukraine_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 211px;
  margin-left: 912px;
}
#scandanavia_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 161px;
  margin-left: 801px;
}
#iceland_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 191px;
  margin-left: 711px;
}
#greatBritain_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 254px;
  margin-left: 711px;
}
#northernEurope_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 299px;
  margin-left: 799px;
}
#westernEurope_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 380px;
  margin-left: 720px;
}
#southernEurope_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 379px;
  margin-left: 803px;
}
#northAfrica_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 564px;
  margin-left: 681px;
}
#egypt_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 530px;
  margin-left: 832px;
}
#eastAfrica_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 612px;
  margin-left: 885px;
}
#congo_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 702px;
  margin-left: 828px;
}
#southAfrica_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 832px;
  margin-left: 804px;
}
#madagascar_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 832px;
  margin-left: 953px;
}
#argentina_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 813px;
  margin-left: 418px;
}
#peru_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 712px;
  margin-left: 383px;
}
#brazil_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 631px;
  margin-left: 504px;
}
#venezuela_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 560px;
  margin-left: 374px;
}
#centralAmerica_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 441px;
  margin-left: 307px;
}
#easternUnitedStates_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 345px;
  margin-left: 418px;
}
#westernUnitedStates_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 306px;
  margin-left: 280px;
}
#alberta_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 223px;
  margin-left: 270px;
}
#ontario_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 227px;
  margin-left: 405px;
}
#quebec_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 227px;
  margin-left: 513px;
}
#greenland_icon{
  padding-top: 35px;
  padding-right: 20px;
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 59px;
  margin-left: 640px;
}
#northwestTerritory_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 140px;
  margin-left: 228px;
}
#alaska_icon{
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin-top: 135px;
  margin-left: 99px;
}
